/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  //background-color: #EAE7DC;
  background-color: #f5eee9;

  //alte culori
  //background-color: #cdc0b7;
  //background-color: #e4bf8a;
  // #1c1e26
  //          #d1a701
  //          #fdeb37
  //          #bdac9c
  //          #9d815b
  //
  ////schema
  //
  //        #f3dcb3
  //        #fdd77a
  //        #e7af3e
  //        #b95c1a
  //        #42100d

}