
//TABLET

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  #headerContainer {
    width: 70%;
    h1 {
      font-size: 1.8em;
    }
  }
  #mainContainer {
    #content {
      flex-direction: column-reverse;
      align-items: center;

      #middleSection {
        width: 100%;

        #map {
          width: 90%;
        }

        #details {
          flex-direction: column;

          #carouselContainer {
            width: 100%;
            height: 100%;
          }

          #coffeeshop-info {
            width: 100%;
          }
        }
      }

      #asideRight {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }


}
//TABLET

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  #headerContainer {
    width: 70%;

    h1 {
      font-size: 1.8em;
    }
  }
}